{{range .ArrayTypes}}
.Kind       {{.Kind}}
.Position   {{.Position}}
.Name       {{.Name}}
.TypeName   {{.TypeName}}
.Length     {{.Length}}
.ElTypeName {{.ElTypeName}}
.IsVariableLength       {{.IsVariableLength}}
.IsFixedLength  {{.IsFixedLength}}
{{end}}
