{{range .Enums}}
.Type.Name     {{.Type.Name}}
.Type.TypeName {{.Type.TypeName}}
.Type.Position {{.Type.Position}}
.IsDense       {{.IsDense}}
{{len .Enumerators}} .Enumerators
{{- range $index, $e := .Enumerators}}
#{{add $index 1}} {{$e.Name | printf "%-8s"}} == {{$e.Value}}
{{- end}}
{{end}}
