{{range .Interfaces}}
.Kind       {{.Kind}}
.Position   {{.Position}}
.Name       {{.Name}}
.TypeName   {{.TypeName}}

#Methods: {{len .Methods}}
{{- range .Methods}}
    .Name:      {{.Name}}
    .Args:      {{len .Args}}
    .Results:   {{len .Results}}
    {{if .Args}}
    Arguments:
        {{- range .Args}}
        {{.Name}} {{.TypeName}} ({{argtype .TypeName}})
        {{- end}}
    {{- end}}

    {{- if .Results}}
    Results:
        {{- range .Results}}
        {{.Name}} {{.TypeName}} ({{restype .TypeName}})
        {{- end}}
    {{- end}}
{{end}}
{{end}}
