{{range .StructTypes}}
.Kind       {{.Kind}}
.Position   {{.Position}}
.Name       {{.Name}}
.TypeName   {{.TypeName}}

{{len .Fields}} Fields:
{{range .Fields}}
    Offset: {{.Offset}}
    Size:   {{sizeof .Object.Type}}
    Name:   {{.Name}}
    Type:   {{.TypeName}}
{{end}}
{{end}}
