Directory:      {{.Directory}}
PackageName:    {{.PackageName}}
Filenames:      {{.Filenames}}
BuildTime:      {{.BuildTime}}
User:           {{.Username}}
Host:           {{.Hostname}}
RidlVersion:    {{.RidlVersion}}
