// -*- mode:go-template -*-

{{range .Enums }}
enum class {{.Type.Name}} : {{.Type.Typename}}
{
{{- if .IsDense}}
{{- range .Enumerators}}
    {{.Name}},
{{- end}}
{{- else}}
{{- range .Enumerators}}
    {{.Name}} = {{.Value}},
{{- end}}
{{- end}}
};
{{end}}

{{range .NotEnums}}
const {{.Typename}} {{.Name}} = {{.Value}};
{{end}}
