// Constants
{{range .Constants}}
const {{cpptype .TypeName}} {{.Name}} = {{.Value}};
{{end}}

// Arrays
{{range .ArrayTypes}}
{{end}}

// Structs
{{range .StructTypes}}
struct {{.Name}} // size {{sizeof .Object.Type}}
{
{{- range .Fields}}
    {{cpptype .TypeName}}	{{.Name}}; // @ {{.Offset}}, {{sizeof .Object.Type}} bytes
{{- end}}
};
{{end}}
